<!DOCTYPE html>
<html>
  <head>
    <title>Spottr</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      /* html, body {
        height: 80%;
        width: 80%;
        margin: 0;
        padding: 0;
      } */
    </style>
  </head>
  <body>
    <div class="spottrHeader">
      <%= link_to "Back", {controller:"users", action:"show"},class:"navLink backNav"%>
      <%= link_to (image_tag "Spottr_Bullseye_white.png", class:"logoIcon spottrLogo",id:"spotPageLogo"), root_path%>
      <%= link_to "Logout", {controller:"sessions", action:"destroy"}, class:"navLink logoutNav"%>
    </div>
    <div id="map" style="height:80%"><h3>Click Track Me to Start Spotting</h3></div>
    <div class="controlPanel">
      <button id="button-track-me" class="navButton uiButtons" style="width:100%;">Track Me</button>
      <div class="bottomTwo">
        <button id="button-dont-track" class="navButton leftNav uiButtons">Stop Tracking</button>
        <button id="button-mark-spot" class="navButton rightNav uiButtons">Mark Spot</button>
      </div>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf_hNLTtGr7CruubLRsAL3ygms8LqKL-I&callback=initMap"
      async defer></script>
    </div>
  </body>
</html>
