// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #EDEDED;
}

span{
  color: black;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  display: block;
  text-align: center;
}

.cardHeader{
  font-size: 2.75em;
  margin-bottom: 1em;
}

.profileHeaders{
  font-size: 1.75em;
  margin-top: 1.5em;
  margin-bottom: 0;
}

.username{
  font-size: 1.75em;
}

.userlogoIcon{
  width: 15%;
  margin-top: -5%;
  margin-left: 42.3%;
}

.userCard{
  width: 80%;
  height: 93%;
  overflow: scroll;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-image: url("http://www.rgbstock.com/cache1CVkux/users/b/ba/badk/300/qfOGtTS.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 1px 1px black;
}

.contentContainer{
  width: 100%;
  height: 80%;
  background-color: #EDEDED;
}

.navButton{
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding:1.5em;
  border: solid #292421;
  width: 50%;
  background-color: #EEC900;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 1px 1px 1px #000000;
}

.startButton{
  margin-right: -0.15em;
}

.logoutButton{
  margin-left: -0.15em;
}

.signupSubmit{
  width: 100%;
}

.signupButton{
  margin-bottom: -1em;
}

.profileHeaders{
  text-decoration: underline;
  font-weight: bold;
}

.badges{
  margin-left: -1em;
}

.error_explanation{
  background-color: white;
  padding: 1em;
  border: 2px solid red;
  border-radius: 5px;
  width: 70%;
  text-align: center;
  margin: 1em auto;
  font-weight: 900;
}
